#navigation
	#navigation-background
	#navigation-content
		.upc-logo #{config.APP_NAME}
		.menu
			i.icon-reorder
			b.label #{__i('Menu')}
.nav
	a.settings(href="/settings", title="#{__i('Settings')}")
		i.icon-cog
		b.label #{__i('Settings')}
	a.login(href="/login", title="#{__i('Login')}")
		i.icon-user
		b.label #{__i('Login')}
	a.dashboard(href="/dashboard", title="#{__i('Dashboard')}")
		i.icon-home
		b.label #{__i('Home')}
	a.movies(href="/search", title="#{__i('Search')}",)
		i.icon-search
		b.label #{__i('Search')}
	a.nowandnext(href="/nowandnext", title="#{__i('Now &amp; Next')}")
		i.icon-time
		b.label #{__i('Now &amp; Next')}

.user-control
	a.settings(href="/settings")
		i.icon-cog
		b.label #{__i('Settings')}
	a.logout(href="/logout")
		i.icon-signout
		b.label #{__i('Log Out')}
		
