script(type="text/template")#social-template
	include ../components/social

script(type="text/template")#channelsbar-template
	include ../components/channelsbar

script(type="text/template")#timebar-template
	include ../components/timebar

script(type="text/template")#timecontrols-template
	include ../components/timecontrols

script(type="text/template")#invitation-template
		article
			header
				h1
					i.icon-star
					| #{__i('Favourites')}
			p
				| Keep track your favorite shows and channels, recommend, comment and share it with your friends with your facebook account:

				button.login(data-action="LOGIN", title="#{__i('Login')}")
					i.icon-facebook-sign
					|  login


	script(type="text/template")#favorite-programmes-template
		article
			header
				h1
					i.icon-star
					| #{__i('Your favourite shows')}
			ul.programmes

	script(type="text/template")#empty-favorite-programmes-template
		article
			header
				h1
					i.icon-star
					| #{__i('Your favourite shows')}
			p Save your favourite shows, and we will show you when they are on TV next.

	script(type="text/template")#favorite-programmes-notfound-template
		article
			header
				h1
					i.icon-star
					| #{__i('Your favourite shows')}
			p We ca not find any of your favorite shows on TV right now.

	script(type="text/template")#empty-favorite-channels-template
		article
			header
				h1
					i.icon-star
					| #{__i('Your favourite channels')}
			p Save channels to your favourites, and we will show you what is showing now and next.

	script(type="text/template")#now-and-next-page-template
		#nowandnext-content
			section
				{{#channels}}
				article
					ul.nowandnext-event-list
						li.channel-row
							a(href="/channel/{{id}}", id="channelRowLink-{{id}}")
				{{/channels}}

	script(type="text/template")#now-and-next-channel-row-event-template
		article(class="{{className}}")
			div.event-time-box
				time.event-day {{day}}
				time.event-starttime {{time}}
			header.event-header
				div.progressbar(style="width:{{percentageComplete}}%")
				h1.event-title {{title}}
			aside.event-channel(style="background-image: url({{channelLogoUrl}});") {{channelName}}
