ul.show
	each normalizedEvent in normalizedEvents
		li.programme
			img.programme-bg(src="#{normalizedEvent.imageUrl}")
			div.programme-details
				h1
					a(href="/event/#{normalizedEvent.eventId}", data-eventid="#{normalizedEvent.eventId}", data-seriesid="#{normalizedEvent.seriesId}") #{normalizedEvent.title}

				button.btn.primary
					i.icon-time
					b.label #{__i('Record')}
				button.btn.primary.skin
					i.icon-play-circle
					b.label #{__i('Play')}
				p
					| #{normalizedEvent.prettyStartTime} 
					| on
					a(href="/channel/#{normalizedEvent.channelId}") #{normalizedEvent.channelName} 
