ul.show
	each event in topbookings
		li.programme
			img.programme-bg(src="#{config['FEATURED_PROGRAMMES_IMAGE_BASE_URL']}/s/#{event.programme.id}.jpg")
			div.programme-details
				h1
					a(href="/programme/#{event.programme.id}") #{event.programme.title}

				button.btn.primary
					i.icon-time
					b.label #{__i('Record')}
				button.btn.primary.skin
					i.icon-play-circle
					b.label #{__i('Play')}
				p
					| #{event.prettyDate} 
					| on
					a(href="/channel/#{event.channel.id}") #{event.channel.name} 
