ul.show
	each event, i in tvTipsEvents
		li.programme
			if (i===0)
				img.programme-bg(src="#{event.programme.imageUrl}")
			else
				img.programme-bg(data-src="#{event.programme.imageUrl}")
			div.programme-details
				h1
					a(href="/programme/#{event.programme.id}") #{event.programme.title}
				p
					| #{event.prettyStartTime} 
					| on
					a(href="/channel/#{event.channel.id}") #{event.channel.name} 
