ul.show
	each event in normalizedEvents
		li.programme
			img.programme-bg(src="#{event.programme.imageUrl}")
			div.programme-details
				h1
					a(href="/programme/#{event.programme.id}") #{event.programme.title}
				p
					| #{event.prettyStartTime} 
					| on
					a(href="/channel/#{event.channel.id}") #{event.channel.name} 
