include layout

section#content

	a#top

	header
		h1 #{title}

	if data
		ul#channels
			each channel in data
				li
					a(href="/channel/#{channel.id}.html") #{channel.name} 
					span #{channel.broadcastFormat} 
					span #{channel.position}

			
