include layout

//section#content

#grid-container
	.back-grid

#time-bar
	ol
		each hour, i in timeFrame
			li
				span

#time-controls

#channels-bar
	ul
		each channel in data
			li
				.picture
					img(title="#{channel.name}", data-src="http://www.upc.nl#{channel.logoIMG}", id="channelImg#{channel.id}")
				.fav
					input(id="#{channel.name}", type="checkbox")
					label(for="#{channel.name}") favorite
		

script
	var supportsCSSFixedPosition = #{supportsCSSFixedPosition};
	var channels = !{JSON.stringify(data)};
