!!! 5
html
	head
		title #{app.title}

		<!-- OG -->
		meta(property='og:title', content='#{app.title}')
		meta(property='og:type', content='app')
		meta(property='og:url', content='http://upcwhatson.herokuapp.com/')
		meta(property='og:image', content='http://upcwhatson.herokuapp.com/images/upclogo.jpg')
		meta(property='og:site_name', content='#{app.title}')
		meta(property='fb:app_id', content='#{app.id}')

		// CSS
		link(rel="stylesheet", href="css/screen.css")

		// JS
		script(src='js/libs/jquery/jquery.js')
		script(src='js/libs/backbone/underscore.js')
		script(src='js/libs/backbone/backbone.js')
		script(src='js/libs/require/require.js', data-main='js/main')
		script
			var socket_id = '#{socket_id}';
			console.log(#{app});

	body

		#fb-root

		header
			h1 #{app.title}

		nav
			ul
				li
					a(href='#nowandnext') Now and Next


		section#content

		footer
			h4 © UPC 2011