!!! 5
html
	head
		title #{app.name}

		link(rel="author", href="/humans.txt", type="text/plain")
		link(rel="shortcut icon", href="/assets/favicon.ico", type="image/vnd.microsoft.icon")

		// CSS
		link(rel="stylesheet", href="/css/screen.css")

		// JS
		script(src='js/libs/jquery/jquery.js')
		script(src='js/libs/backbone/underscore.js')
		script(src='js/libs/backbone/backbone.js')
		script(src='js/libs/require/require.js', data-main='js/main')
		script
			var socket_id = '#{socket_id}';
	
		// OG
		meta(property='og:title', content='#{app.name}')
		meta(property='og:type', content='app')
		meta(property='og:url', content='http://upcwhatson.herokuapp.com/')
		meta(property='og:image', content='http://upcwhatson.herokuapp.com/images/upclogo.jpg')
		meta(property='og:site_name', content='#{app.name}')
		meta(property='fb:app_id', content='#{app.id}')

	body

		#fb-root

		header
			img(src="#{app.logo_url}")
			p
				| Hi
				strong #{user.first_name}
				| !
			h1 #{app.name}

			#friends-using-app
				ul
					li Firends using this app
			

		.clearfix

		section#content

		footer
			h4 © UPC 2011