!!! 5
html
	head(prefix="#{prefix}")
		block head
			title #{title}

			meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
			meta(name="apple-mobile-web-app-capable", content="yes")
			meta(names="apple-mobile-web-app-status-bar-style", content="black-translucent")


			if metadata
				each meta in metadata
					meta(property='#{meta.property}', content='#{meta.content}')

			link(href="/css/global.css", rel="stylesheet")

			script(src="/js/libs/jquery/jquery-1.7.1-dev.js")
			script(src="/js/libs/backbone/underscore.js")
			script(src="/js/libs/backbone/backbone.js")
			script(src="/js/libs/require/require.js", data-main="/js/main")

	body(data-test="#{TEST_MODE}")

		#fb-root

		header.main
			a(href="/")
				h1 What's On!

			#navigation
				a.explore(href="/") #{__i('Explore TV')}
				a.grid.icon.icon-list(href="/grid") #{__i('TV Grid')}

			#user-control
				a.fb.icon.icon-user #{__i('Login')}

			#search
				form(action="/search", method='get')
					a.icon.icon-search(href="/search?q=")
					input.btn.search(name="search", type="submit")
					- var query = typeof(query) === 'undefined' ? '' : query
					input.query(name="q", type="search", value=query, placeholder="#{__i('Search')}")

		a#top

		block content
