if !isAjax
	include layout

header

	if (data.subcategory.category.name != data.subcategory.name)
		p #{data.subcategory.category.name} > #{data.subcategory.name}
	else
		p #{data.subcategory.name}

	h1 #{title}
	p #{data.shortDescription}
	if (data.subcategory.category.name.toLowerCase() == 'speelfilm')
		#imdbPoster(data-programmetitle="#{title}")
		script(src='/js/ahah.js')
		script(src='/js/loadImdbPoster.js')
if !isAjax
	#user-action
		button.watch Watch
		button.record Record
		button.remind Set Reminder
		button.share Share
		div.fb-like(data-send="true", data-width="450", data-show-faces="true")

section#content

	if data.events
		p Watch it
		ul#events
			each event in data.events
				li
					span #{event.prettyDate} 
					span 
						| on 
						a(href="/channel/#{event.channel.id}") #{event.channel.name}
						|  (#{event.channel.id})

