#channel-content
	.channelpage
		header.hd
			.logo
				img(src="http://www.upc.nl#{data.logoIMG}")
			.like
				.fb-like(data-href="#{url}", data-send="false", data-layout="box_count", data-width="80", data-show-faces="true")
			h1 #{title}
			p #{data.description}

			#user-action
				button.favorite #{__i('Favorite')}
				button.share #{__i('Share')}
	
		.bd
			if data
				each date in data.dates
					h2.date-title
						span.icon-calendar
						#{date.dateText}
					ul.channel-event-list
						each event in date.events
							- var startDate = Date.parse('#{event.startDateTime}');
							- var endDate = new Date(Date.parse('#{event.endDateTime}'));
							li.programme
								a.programme.programme-link(href="/programme/#{event.programme.id}", data-programmeid="#{event.programme.id}")
									.time #{event.timeRange}
									h3.title #{event.programme.title}
									p.desc #{event.programme.shortDescription}