if (xhr)
	include ../assets/metadata

#channel-content
	header
		if (data.broadcastFormat)
			p.category #{data.broadcastFormat}

		.logo
			img(src="http://www.upc.nl#{data.logoIMG}")

		h1 
			button.favorite
				i.icon-star-empty
			| #{title}

		p.description #{data.description}

	section
		if data
			each date in data.dates
				article
					h2.date-title
						i.icon-time
						#{date.dateText}
					ul.channel-event-list
						each event in date.events
							li
								a(href="/programme/#{event.programme.id}")
									article.event
										.event-time-box
											time.event-day #{event.prettyDate} 
											time.event-starttime #{event.simpleTime} 
										header.event-header
											.progressbar
											h1.event-title #{event.programme.title}
										aside.event-channel &nbsp;on #{title}