#channel-content
	header
		if (data.broadcastFormat)
			p.category #{data.broadcastFormat}

		.logo
			img(src="http://www.upc.nl#{data.logoIMG}")

		h1 
			span.favorite
				i.icon-star-empty
			| #{title}

		p #{data.description}

	section
		if data
			each date in data.dates
				article
					h2.date-title
						i.icon-time
						#{date.dateText}
					ul.channel-event-list
						each event in date.events
							li.programme
								a.programme-link(href="/programme/#{event.programme.id}", data-programmeid="#{event.programme.id}")	
									.time #{event.simpleTime}
									h3.title
										| #{event.programme.title}