#grid-content
	#grid-container
	
	#time-bar
		.shade
		ol
			each time, i in timebar
				li
					span #{i}hs
	
	#channels-bar
		.shade
		ul
			each channel in channels
				li
					.picture
						img.loading(title="#{channel.name}", data-src="http://www.upc.nl#{channel.logoIMG}", data-channelid="#{channel.id}", id="channelImg#{channel.id}")