ul.channels-list-types
	each filterGroup in availableFilterGroups
		li.type(class="#{filterGroup.selected ? 'selected' : ''}", style="width:#{100 / availableFilterGroups.length}%")
			a.group(href="#{filterGroup.url}") #{filterGroup.text}

ul.nowandnext-list
	each channelEventsCollection in channelEventsCollections
		li
			a.channel-row(href="/channel/#{channelEventsCollection.channel.id}")
				each event, i in channelEventsCollection.channelEvents
					article.event(class="#{(i === 0) ? "now" : ""}")
						div.event-time-box
							- var nowTimeValue = new Date();
							- var startDateTime = new Date(event.startDateTime);
							- var endDateTime = new Date(event.endDateTime);
							- var day = startDateTime.getDay();
							- var hours = startDateTime.getHours();
							- hours = (hours < 10)? '0' + hours : hours;
							- var minutes = startDateTime.getMinutes();
							- minutes = (minutes < 10)? '0' + minutes : minutes;
							- var time = (hours + ':' + minutes);

							- var startTimeValue = startDateTime.valueOf();
							- var endTimeValue = endDateTime.valueOf();
							- var percentageComplete = (100 * (nowTimeValue - startTimeValue)) / (endTimeValue - startTimeValue);

							time.event-day #{day}
							time.event-starttime #{time}
						header.event-header
							div.progressbar(style="width:#{percentageComplete}%")
							h1.event-title #{event.programme.title}
						aside.event-channel(style="background-image: url(http://www.upc.nl#{channelEventsCollection.channel.logoIMG});") on Nederland 2
				.icon-chevron-right

#channels-list-container
	ul.channels-list
		each channelEventsCollection in channelEventsCollections
			li.channels-list-channel
				div.inner
					div.channels-list-channel__controls
						a.logo(href="/channel/#{channelEventsCollection.channel.id}", class="channel", data-channelid="#{channelEventsCollection.channel.id}")
							img(title="#{channelEventsCollection.channel.name}", src="http://www.upc.nl#{channelEventsCollection.channel.logoIMG}", data-src="http://www.upc.nl#{channelEventsCollection.channel.logoIMG}", id="channelImg#{channelEventsCollection.channel.id}")
						a.earlier(href=earlierUrl)
							span.icon-chevron-left
							#{earlierText}
						span.now
							span.nowtime #{nowTime}
							span.nowdate #{nowDate}
						a.later(href=laterUrl)
							#{laterText}
							span.icon-chevron-right
					div.channels-list-channel__programmes(id="channels-list_channel_#{channelEventsCollection.channel.id}__programmes")
						ul.channel-event-list
							each event in channelEventsCollection.channelEvents
								li.programme
									a.programme.programme-link(href="/programme/#{event.programme.id}", data-programmeid="#{event.programme.id}")
										div.time #{event.startDateTime.slice(11,13) + ':' + event.startDateTime.slice(14,16) + '-' + event.endDateTime.slice(11,13) + ':' + event.endDateTime.slice(14,16)}
										div.title #{event.programme.title}
										div.desc #{event.programme.shortDescription}