if (xhr)
	include ../assets/metadata

#programme-content
	header
		if (data.subcategory.category.name != data.subcategory.name)
			p.category #{data.subcategory.category.name} > #{data.subcategory.name}
		else
			p.category #{data.subcategory.name}

		h1 
			button.favorite
				i.icon-star-empty
			| #{title}

		p.description #{data.shortDescription}

	section
		if data.events
			article
				h2.watch-title
					i.icon-time
					#{__i('Watch it')}
				ul.programme-event-list
					each event in data.events
						li
							a(href="/channel/#{event.channel.id}")
								article.event
									.event-time-box
										time.event-day #{event.prettyDate} 
										time.event-starttime #{event.simpleTime} 
									header.event-header
										.progressbar
										h1.event-title #{title}
									aside.event-channel &nbsp;on #{event.channel.name}