#programme-content
	header
		if (data.subcategory.category.name != data.subcategory.name)
			p.category #{data.subcategory.category.name} > #{data.subcategory.name}
		else
			p.category #{data.subcategory.name}

		h1 
			span.favorite
				i.icon-star-empty
			| #{title}

		include ../components/useraction

		p #{data.shortDescription}

	section
		if data.events
			article
				h2.watch-title
					i.icon-time
					#{__i('Watch it')}
				ul.channel-event-list
					each event in data.events
						li.event
							.time #{event.simpleTime}
							h3.title #{event.prettyDate}
							a.channel(href="/channel/#{event.channel.id}", data-channelid="#{event.channel.id}")
								|  on 
								| #{event.channel.name}
								|  (#{event.channel.id})