if (xhr)
	include ../assets/metadata

#programme-content
	header
		if (data.subcategory)
			if (data.subcategory.category.name != data.subcategory.name)
				p.category #{data.subcategory.category.name} > #{data.subcategory.name}
			else
				p.category #{data.subcategory.name}

		h1 
			button.favorite
				i.icon-star-empty
			| #{title}

		p.description #{data.shortDescription}

	section
		if data.events
			article
				h2.watch-title
					i.icon-time
					#{__i('Watch it')}
				ul.programme-event-list
					each event in data.events
						li
							a(href="/channel/#{event.channel.id}")
								- var nowTimeValue = new Date();
								- var startDateTime = new Date(event.startDateTime);
								- var endDateTime = new Date(event.endDateTime);
								- var day = startDateTime.getDay();
								- var hours = startDateTime.getHours();
								- hours = (hours < 10)? '0' + hours : hours;
								- var minutes = startDateTime.getMinutes();
								- minutes = (minutes < 10)? '0' + minutes : minutes;
								- var time = (hours + ':' + minutes);
								- var startTimeValue = startDateTime.valueOf();
								- var endTimeValue = endDateTime.valueOf();
								- var percentageComplete = (100 * (nowTimeValue - startTimeValue)) / (endTimeValue - startTimeValue);
								article.event(class="#{percentageComplete>0&&percentageComplete<=100?'now':''}")
									.event-time-box
										time.event-day #{event.day}
										time.event-prettyDate #{event.prettyDate}
										time.event-starttime #{event.simpleTime} 
									header.event-header
										.progressbar(style="width:#{percentageComplete}%")
										h1.event-title #{title}
									aside.event-channel(style="background-image: url(http://www.upc.nl/#{event.channel.logoIMG})")
										| on #{event.channel.name}
