#search-content
	header#search-query
		form.search-form
			input#q(name="q", type="search", placeholder="Search...", value="#{query}")
			button.search-btn(type="submit") 
				i.icon-search
				b.label Search

	section#search-results
		if (hasQuery)
			article#filters
				#datetimes
					h4 Date Times
					ul.selectable
						each startDateTime, prettyDate in used_datetimes
							li.datetime
								input(type="checkbox", id="#{startDateTime}", value="#{prettyDate}") 
								label(for="#{startDateTime}") #{prettyDate}
			
				#channels
					h4 Channels
					ul.selectable
						each channel in used_channels
							li.channel
								input(type="checkbox", id="#{channel.id}", value="#{channel.id}") 
								label(for="#{channel.id}") #{channel.name}
			
			if (hasResults)
				each group in programmes
					article
						ul.search-event-list
							each event, i in group
								li.channel-row
									a(href="/programme/#{event.programme.id}")
										- var nowTimeValue = new Date();
										- var startDateTime = new Date(event.startDateTime);
										- var endDateTime = new Date(event.endDateTime);
										- var day = startDateTime.getDay();
										- var hours = startDateTime.getHours();
										- hours = (hours < 10)? '0' + hours : hours;
										- var minutes = startDateTime.getMinutes();
										- minutes = (minutes < 10)? '0' + minutes : minutes;
										- var time = (hours + ':' + minutes);
										- var startTimeValue = startDateTime.valueOf();
										- var endTimeValue = endDateTime.valueOf();
										- var percentageComplete = (100 * (nowTimeValue - startTimeValue)) / (endTimeValue - startTimeValue);
										article.event(class="#{i===0||percentageComplete>0?'now':''}")
											div.event-time-box
												time.event-starttime #{time}
												time.event-prettyDate #{event.prettyDate}
											header.event-header
												div.progressbar(style="width:#{percentageComplete}%")
												p.event-category
												h1.event-title #{event.programme.title}
											aside.event-channel(style="background-image: url(http://www.upc.nl/#{event.channel.logoIMG})")
												| on #{event.channel.name}
			else
				article
					p No results found