include layout

section#content.channel

	header
		p #{data.position} #{data.broadcastFormat}
		.logo
			img(src="http://www.upc.nl#{data.logoIMG}")
		h1 #{title}
		p #{data.description}

	section
		if data
			ul.event-list
				each event in data.events
					li
						.hour 
							| #{ event.prettyDate }, 
							| #{ new Date(event.startDateTime).getHours() }hs
						h3 
							a(href="/programme/#{event.programme.id}") #{event.programme.title}	
						p #{event.programme.shortDescription}