extends layout

block content
	h1 #{__i('Dashboard')}

	ul#channels.mosaic
		each channel in channels
			li.channel
				a(href="/channel/#{channel.id}.html")
					img(title="#{channel.name}", src="http://www.upc.nl#{channel.logoIMG}", id="channel#{channel.id}")