extends layout

block content
	#topbookings
		ul.show
			each event in topbookings
				li.programme
					div.programme-details
						p
							a(href="/channel/#{event.channel.id}.html") #{event.channel.name}
						h1
							a(href="/programme/#{event.programme.id}.html") #{event.programme.title}
						p
							| #{event.prettyDate}, 
							| #{ new Date(event.startDateTime).getHours() }hs
							button.btn.icon.icon-target #{__i('Record')}

	// Whitespace is significant for justified inline-block! The &shy; character between <li> elements forces word-break for text-align:justify. 
	ul#channels.mosaic
		each channel in channels
			li.channel
				a(href="/channel/#{channel.id}.html")
					img(title="#{channel.name}", src="http://www.upc.nl#{channel.logoIMG}", id="channel#{channel.id}")
			&shy;
