extends layout

block content
	#topbookings
		ul.show
			each event in topbookings
				li.programme
					div.programme-details

						h1
							a(href="/programme/#{event.programme.id}.html") #{event.programme.title}

						button.btn.primary
							i.icon-time
							b.label #{__i('Record')}
						button.btn.primary.skin
							i.icon-play-circle
							b.label #{__i('Play')}
						p
							| #{event.prettyDate} 
							| on
							a(href="/channel/#{event.channel.id}.html") #{event.channel.name} 

	// Whitespace is significant for justified inline-block! The &shy; character between <li> elements forces word-break for text-align:justify. 
	ul#channels.mosaic
		each channel in channels
			li.channel
				a(href="/channel/#{channel.id}.html")
					img(title="#{channel.name}", src="http://www.upc.nl#{channel.logoIMG}", id="channel#{channel.id}")
			&shy;

block scripts
	script
		require(['controllers/dashboard'], function(dashboard) { dashboard.initialize(); });