extends layout

block content
	#featured
		ul.show
			each event in topbookings
				li.programme
					div.programme-details

						h1
							a(href="/programme/#{event.programme.id}.html") #{event.programme.title}

						button.btn.primary
							i.icon-time
							b.label #{__i('Record')}
						button.btn.primary.skin
							i.icon-play-circle
							b.label #{__i('Play')}
						p
							| #{event.prettyDate} 
							| on
							a(href="/channel/#{event.channel.id}.html") #{event.channel.name} 


	#dashboard
		.top-among-friends
			h3 #{__i('Top shows among friends')} 
			ul
				li 
					a(href="/programme/19106430.html") Holland's Got Talent
				li
					a(href="/programme/19345320.html") Flikken Antwerpen
				li
					a(href="/programme/19253716.html") Lord of War
				li
					a(href="/programme/19345424.html") Schat van de Oranje
				li
					a(href="/programme/19106570.html") Voetbal International
				li
					a(href="/programme/18614672.html") 24
				li
					a(href="/programme/19106467.html") Big Fat Gypsy Weddings
				li
					a(href="/programme/19253597.html") Doomsday
				li
					a(href="/programme/19253599.html") The Mummy: Tomb of the Dragon Emperor
				li
					a(href="/programme/19345437.html") Top Gear

		.top-bookings
			h3 #{__i('Top Bookings')} 
			ul
				li 
					a(href="/programme/19106430.html") Holland's Got Talent
				li
					a(href="/programme/19345320.html") Flikken Antwerpen
				li
					a(href="/programme/19253716.html") Lord of War
				li
					a(href="/programme/19345424.html") Schat van de Oranje
				li
					a(href="/programme/19106570.html") Voetbal International
				li
					a(href="/programme/18614672.html") 24
				li
					a(href="/programme/19106467.html") Big Fat Gypsy Weddings
				li
					a(href="/programme/19253597.html") Doomsday
				li
					a(href="/programme/19253599.html") The Mummy: Tomb of the Dragon Emperor
				li
					a(href="/programme/19345437.html") Top Gear


block scripts
	script
		require(['controllers/dashboard'], function(dashboard) { dashboard.initialize(); });