extends layout

block styles
	link(href="/assets/css/grid.css", rel="stylesheet")

block content
	#grid-container

	#time-bar
		ol

	#time-controls

	#channels-bar
		ul
			each channel in channels
				li
					.picture
						img(title="#{channel.name}", data-src="http://www.upc.nl#{channel.logoIMG}", id="channelImg#{channel.id}")
					.fav
						input(id="#{channel.name}", type="checkbox")
						label(for="#{channel.name}") favorite


block scripts
	script
		var channels = !{JSON.stringify(channels)};
		require(['controllers/grid'], function(grid) { grid.initialize(); });