extends layout

block styles
	link(href="/assets/css/grid.css", rel="stylesheet")
	style(id="grid-styles")

block content
	#grid-container

	#time-bar
		.shade
		ol
			each time, i in timebar
				li
					span #{i}hs

	#channels-bar
		.shade
		ul
			each channel in channels
				li
					.picture
						img(title="#{channel.name}", src="http://www.upc.nl#{channel.logoIMG}", id="channelImg#{channel.id}")

block scripts
	script(data-load="controllers/grid")
		var channels = !{JSON.stringify(channels)};