!!! 5
html
	head(prefix="#{config.HTML_PREFIX}", data-api="#{config.API_PREFIX}", data-fixposition="#{supports.positionFixed}", data-test="false")

		title #{config.APP_NAME}

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(names="apple-mobile-web-app-status-bar-style", content="black-translucent")

		if metadata
			each meta in metadata
				meta(property='#{meta.property}', content='#{meta.content}')

		link(href="/assets/css/font-awesome.css", rel="stylesheet")
		link(href="/assets/css/normalize.css", rel="stylesheet")
		link(href="/assets/css/global.css", rel="stylesheet")
		link(href="/assets/css/mediaqueries.css", rel="stylesheet")


		block styles

	body

		#fb-root

		.navbar.navbar-fixed-top
			.navbar-inner
				.upc-logo #{config.APP_NAME}
				.nav
					a.home(href="#", title="#{__i('Home')}").active
						i.icon-home
						b.label #{__i('Home')}
					a.nowandnext(href="#", title="#{__i('Now &amp; Next')}")
						i.icon-time
						b.label #{__i('Now &amp; Next')}
					a.movies(href="#", title="#{__i('Movies')}")
						i.icon-film
						b.label #{__i('Movies')}
					a.grid(href="#", title="#{__i('TV Grid')}")
						i.icon-th
						b.label #{__i('TV Grid')}
					a.search(href="#", title="#{__i('Search')}")
						i.icon-search
						b.label #{__i('Search')}
					a.login(href="#", title="#{__i('Login')}")
						i.icon-user
						b.label #{__i('Login')}

				.user-control
					ul
						li.active
							a(href="#")
								i.icon-cogs
								b.label #{__i('Settings')}
						li
							a(href="#") 
								i.icon-star
								b.label #{__i('Favorites')}
						li
							a(href="#") 
								i.icon-signin
								b.label #{__i('Login')}
						li
							a(href="#") 
								i.icon-signout
								b.label #{__i('Logout')}
		.main

			block content

		footer
			p &copy; UPC 2012 

		script(src="/js/libs/jquery/jquery-1.7.1-dev.js")
		script(src="/js/libs/backbone/underscore.js")
		script(src="/js/libs/backbone/backbone.js")
		script(src="/js/libs/require/require.js", data-main="/js/main")

		block scripts
