!!! 5
html
	head(prefix="#{config.HTML_PREFIX}", data-api="#{config.API_PREFIX}", data-fixposition="#{config.FIX_POSITION}")

		title #{config.APP_NAME}

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(names="apple-mobile-web-app-status-bar-style", content="black-translucent")

		if metadata
			each meta in metadata
				meta(property='#{meta.property}', content='#{meta.content}')

		link(href="/css/normalize.css", rel="stylesheet")
		link(href="/css/global.css", rel="stylesheet")

		block styles

		script(src="/js/libs/jquery/jquery-1.7.1-dev.js")
		script(src="/js/libs/backbone/underscore.js")
		script(src="/js/libs/backbone/backbone.js")
		script(src="/js/libs/require/require.js", data-main="/js/main")

		block scripts

	body

		#fb-root

		header.main
			.inner
				a(href="/")
					h1 #{config.APP_NAME}

				#navigation
					a.grid.icon.icon-list(href="/grid", title="#{__i('TV Grid')}")
						span.label #{__i('TV Grid')}

				#user-control
					ul
						li.icon.icon-user(title="#{__i('Login')}")
							span.label #{__i('Login')}
						li.icon.icon-close(title="#{__i('Logout')}")
							span.label #{__i('Logout')}
						li.icon.icon-settings(title="#{__i('Settings')}")
							span.label #{__i('Settings')}

				#search
					form(action="/search", method='get')
						a.icon.icon-search(href="/search?q=")
						input.btn.search(name="search", type="submit")
						- var query = typeof(query) === 'undefined' ? '' : query
						input.query(name="q", type="search", value=query, placeholder="#{__i('Search')}")

		a#top

		section#content
			block content

		footer
			block footer