extends layout

block styles
	link(href="/assets/css/list.css", rel="stylesheet")

block scripts
	script
		var channels = !{JSON.stringify(channels)};
		require(['views/list'], function(list) { list.initialize(); });

block content
	ul(class=["channels-list-types", "#{listType}"])
		li.type
			a.type-pop(href=popUrl) Popular
		li.type
			a.type-fav(href=favUrl) My likes
		li.type
			a.type-all(href=allUrl) All channels
	#channels-list-container
		include list-ajax
