extends layout

block styles
	link(href="/css/list.css", rel="stylesheet")

block scripts
	script
		var channels = !{JSON.stringify(channels)};
		setTimeout(function() { upc.emit('app:view_loaded') }, 300);


block content
	ul.channels-list
		each channelEventsCollection in channelEventsCollections
			li.channels-list-channel
				div.channels-list-channel__timecontrols
					a(href='?dt=' + dtStringPreviousSlice + "#channels-list_channel_#{channelEventsCollection.channel.id}__timewindow") &lt; earlier
					span(id="channels-list_channel_#{channelEventsCollection.channel.id}__timewindow") #{dt}
					a(href='?dt=' + dtStringNextSlice + "#channels-list_channel_#{channelEventsCollection.channel.id}__timewindow") later &gt;
					a(href="#content") &nbsp;top
				div.channels-list-channel__channelcontrols
					img(title="#{channelEventsCollection.channel.name}", src="http://www.upc.nl#{channelEventsCollection.channel.logoIMG}", data-src="http://www.upc.nl#{channelEventsCollection.channel.logoIMG}", id="channelImg#{channelEventsCollection.channel.id}")
				div.channels-list-channel__programmes(id="channels-list_channel_#{channelEventsCollection.channel.id}__programmes")
					ul
						each event in channelEventsCollection.channelEvents
							li.channels-list-channel__programme
								div.channels-list-channel__programme-time #{event.startDateTime.slice(11,13) + ':' + event.startDateTime.slice(14,16) + '-' + event.endDateTime.slice(11,13) + ':' + event.endDateTime.slice(14,16)}
								div.channels-list-channel__programme-title #{event.programme.title}
								div.channels-list-channel__programme-desc #{event.programme.shortDescription}
