extends layout

block content
	#featured
		ul.movies
			each movie in topmovies
				li.movie
					p 
						strong #{movie.title} 
						| (#{movie.year})
					.poster
						.score
							i.icon-star
							| #{movie.score}
						img(src="/assets/posters/#{movie.poster}")


	#dashboard.fluid
		.top-favorites.span4
			h3.btn
				i.icon-star
				| #{__i('Top favorites')} 
			ul
				li 
					i.icon-chevron-right
					a(href="/programme/19106430.html") Holland's Got Talent
				li
					i.icon-chevron-right
					a(href="/programme/19345320.html") Flikken Antwerpen
				li
					i.icon-chevron-right
					a(href="/programme/19253716.html") Lord of War
				li
					i.icon-chevron-right
					a(href="/programme/19345424.html") Schat van de Oranje
				li
					i.icon-chevron-right
					a(href="/programme/19106570.html") Voetbal International
				li
					i.icon-chevron-right
					a(href="/programme/18614672.html") 24
				li
					i.icon-chevron-right
					a(href="/programme/19106467.html") Big Fat Gypsy Weddings
				li
					i.icon-chevron-right
					a(href="/programme/19253597.html") Doomsday
				li
					i.icon-chevron-right
					a(href="/programme/19253599.html") The Mummy: Tomb of the Dragon Emperor
				li
					i.icon-chevron-right
					a(href="/programme/19345437.html") Top Gear

		.top-among-friends.span4
			h3.btn
				i.icon-heart
				| #{__i('Top shows among friends')} 
			ul
				li 
					i.icon-chevron-right
					a(href="/programme/19106430.html") Holland's Got Talent
				li
					i.icon-chevron-right
					a(href="/programme/19345320.html") Flikken Antwerpen
				li
					i.icon-chevron-right
					a(href="/programme/19253716.html") Lord of War
				li
					i.icon-chevron-right
					a(href="/programme/19345424.html") Schat van de Oranje
				li
					i.icon-chevron-right
					a(href="/programme/19106570.html") Voetbal International
				li
					i.icon-chevron-right
					a(href="/programme/18614672.html") 24
				li
					i.icon-chevron-right
					a(href="/programme/19106467.html") Big Fat Gypsy Weddings
				li
					i.icon-chevron-right
					a(href="/programme/19253597.html") Doomsday
				li
					i.icon-chevron-right
					a(href="/programme/19253599.html") The Mummy: Tomb of the Dragon Emperor
				li
					i.icon-chevron-right
					a(href="/programme/19345437.html") Top Gear

		.top-bookings.span4
			h3.btn
				i.icon-bookmark
				| #{__i('Top bookings')} 
			ul
				li 
					i.icon-chevron-right
					a(href="/programme/19106430.html") Holland's Got Talent
				li
					i.icon-chevron-right
					a(href="/programme/19345320.html") Flikken Antwerpen
				li
					i.icon-chevron-right
					a(href="/programme/19253716.html") Lord of War
				li
					i.icon-chevron-right
					a(href="/programme/19345424.html") Schat van de Oranje
				li
					i.icon-chevron-right
					a(href="/programme/19106570.html") Voetbal International
				li
					i.icon-chevron-right
					a(href="/programme/18614672.html") 24
				li
					i.icon-chevron-right
					a(href="/programme/19106467.html") Big Fat Gypsy Weddings
				li
					i.icon-chevron-right
					a(href="/programme/19253597.html") Doomsday
				li
					i.icon-chevron-right
					a(href="/programme/19253599.html") The Mummy: Tomb of the Dragon Emperor
				li
					i.icon-chevron-right
					a(href="/programme/19345437.html") Top Gear

block scripts
	script
//		require(['controllers/dashboard'], function(dashboard) { dashboard.initialize(); });