extends layout

block styles
	link(href="/assets/css/movies.css", rel="stylesheet")

block scripts
	script(data-load="controllers/movies")

block content
	#featured
		ul.movies
			each movie in topmovies
				li.movie
					p 
						strong #{movie.title} 
						| (#{movie.year})
					.poster
						.score
							i.icon-star
							| #{movie.score}
						img(src="/assets/posters/s/#{movie.poster}")


	#dashboard.fluid
		.top-favorites.span4
			h3.btn
				i.icon-star
				| #{__i('Top favorites')} 
			ul
				li 
					i.icon-chevron-right
					a(href="/programme/19106430") Holland's Got Talent
				li
					i.icon-chevron-right
					a(href="/programme/19345320") Flikken Antwerpen
				li
					i.icon-chevron-right
					a(href="/programme/19253716") Lord of War
				li
					i.icon-chevron-right
					a(href="/programme/19345424") Schat van de Oranje
				li
					i.icon-chevron-right
					a(href="/programme/19106570") Voetbal International
				li
					i.icon-chevron-right
					a(href="/programme/18614672") 24
				li
					i.icon-chevron-right
					a(href="/programme/19106467") Big Fat Gypsy Weddings
				li
					i.icon-chevron-right
					a(href="/programme/19253597") Doomsday
				li
					i.icon-chevron-right
					a(href="/programme/19253599") The Mummy: Tomb of the Dragon Emperor
				li
					i.icon-chevron-right
					a(href="/programme/19345437") Top Gear

		.top-among-friends.span4
			h3.btn
				i.icon-heart
				| #{__i('Top movies among friends')} 
			ul
				li 
					i.icon-chevron-right
					a(href="/programme/19106430") Holland's Got Talent
				li
					i.icon-chevron-right
					a(href="/programme/19345320") Flikken Antwerpen
				li
					i.icon-chevron-right
					a(href="/programme/19253716") Lord of War
				li
					i.icon-chevron-right
					a(href="/programme/19345424") Schat van de Oranje
				li
					i.icon-chevron-right
					a(href="/programme/19106570") Voetbal International
				li
					i.icon-chevron-right
					a(href="/programme/18614672") 24
				li
					i.icon-chevron-right
					a(href="/programme/19106467") Big Fat Gypsy Weddings
				li
					i.icon-chevron-right
					a(href="/programme/19253597") Doomsday
				li
					i.icon-chevron-right
					a(href="/programme/19253599") The Mummy: Tomb of the Dragon Emperor
				li
					i.icon-chevron-right
					a(href="/programme/19345437") Top Gear

		.top-bookings.span4
			h3.btn
				i.icon-bookmark
				| #{__i('Top bookings')} 
			ul
				li 
					i.icon-chevron-right
					a(href="/programme/19106430") Holland's Got Talent
				li
					i.icon-chevron-right
					a(href="/programme/19345320") Flikken Antwerpen
				li
					i.icon-chevron-right
					a(href="/programme/19253716") Lord of War
				li
					i.icon-chevron-right
					a(href="/programme/19345424") Schat van de Oranje
				li
					i.icon-chevron-right
					a(href="/programme/19106570") Voetbal International
				li
					i.icon-chevron-right
					a(href="/programme/18614672") 24
				li
					i.icon-chevron-right
					a(href="/programme/19106467") Big Fat Gypsy Weddings
				li
					i.icon-chevron-right
					a(href="/programme/19253597") Doomsday
				li
					i.icon-chevron-right
					a(href="/programme/19253599") The Mummy: Tomb of the Dragon Emperor
				li
					i.icon-chevron-right
					a(href="/programme/19345437") Top Gear