.navbar
	.navbar-background
	.navbar-inner
		.upc-logo #{config.APP_NAME}
		.nav
			a.home(href="/", title="#{__i('Home')}")
				i.icon-home
				b.label #{__i('Home')}
			a.movies(href="/movies", title="#{__i('Movies')}")
				i.icon-film
				b.label #{__i('Movies')}
			a.nowandnext(href="/nowandnext", title="#{__i('Now &amp; Next')}")
				i.icon-time
				b.label #{__i('Now &amp; Next')}
			a.login(href="/login", title="#{__i('Login')}")
				i.icon-user
				b.label #{__i('Login')}

.user-control
	a.settings(href="/settings")
		i.icon-cog
		b.label #{__i('Settings')}
	a.logout(href="/logout")
		i.icon-signout
		b.label #{__i('Log Out')}

.search-box
	form(action="/search", method="GET")
		input(id="q", name="q", type="search", results="5", placeholder="#{__i('Search')}")
