.programmepage
	header.hd
		if (data.subcategory.category.name != data.subcategory.name)
			p.category #{data.subcategory.category.name} > #{data.subcategory.name}
		else
			p.category #{data.subcategory.name}

		.like
			.fb-like(data-href="#{url}", data-send="false", data-layout="box_count", data-width="80", data-show-faces="true")
		h1 #{title}
		p #{data.shortDescription}

		#user-action
			button.favorite #{__i('Favorite')}
			button.record #{__i('Record')}
			button.remind #{__i('Set Reminder')}
			button.share #{__i('Share')}
			//div.fb-like(data-send="true", data-width="450", data-show-faces="true")

	section.bd
		if data.events
			h2.watch-title #{__i('Watch it')}
			ul#events
				each event in data.events
					li
						span.icon-time
						span #{event.prettyDate} 
						span 
							| on 
							a.channel(href="/channel/#{event.channel.id}", data-channelid="#{event.channel.id}") #{event.channel.name}
							|  (#{event.channel.id})
