extends layout

block styles
	link(href="/assets/css/search.css", rel="stylesheet")

block content
	header #{__i('Results for %s', query)}

	#filters
		h4 Date Times
		ul#datetimes.selectable
			each startDateTime, prettyDate in used_datetimes
				li.datetime
					input(type="checkbox", id="#{startDateTime}", value="#{prettyDate}", checked="checked") 
					label(for="#{startDateTime}") #{prettyDate}


		h4 Channels
		ul#channels.selectable
			each channel in used_channels
				li.channel
					input(type="checkbox", id="#{channel.id}", value="#{channel.id}", checked="checked") 
					label(for="#{channel.id}") #{channel.name}




	ul#search-results
		each event in results
			li.programme(data-channel="#{event.channel.id}", data-datetime="#{event.prettyDate}")

				h3
					a(href="/programme/#{event.programme.id}") #{event.programme.title}
				p
					| #{event.prettyDate}, 
					| #{ new Date(event.startDateTime).getHours() }hs

				.channel
					a(href="/channel/#{event.channel.id}") #{event.channel.name}

block scripts
	script
		setTimeout(function(){
			upc.components.search.calibrate();
		},300);