!!! 5
html.no-js.no-mustard
	head(prefix="#{config.HTML_PREFIX}", data-api="#{config.API_PREFIX}", data-fixposition="#{supports.positionFixed}")

		title #{config.APP_NAME}

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(names="apple-mobile-web-app-status-bar-style", content="black-translucent")

		if metadata
			each meta in metadata
				meta(property='#{meta.property}', content='#{meta.content}')

		script
			document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
			if ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) {
				window.mustard = true;
				var href = location.href.toUpperCase();
				if (href.indexOf('MUSTARD=0')>0 || href.indexOf('MUSTARD=FALSE')>0) {
					window.mustard = false;
				}
			}
			if (window.mustard) {
				document.documentElement.className = document.documentElement.className.replace('no-mustard', 'mustard');
			}

		link(href="/assets/css/font-awesome.css", rel="stylesheet")
		link(href="/assets/css/normalize.css", rel="stylesheet")
		link(href="/assets/css/global.css", rel="stylesheet")
		link(href="/assets/css/mediaqueries.css", rel="stylesheet")
		link(href="/assets/css/grid.css", rel="stylesheet")


		block styles

	body(class="#{(supports.positionFixed)?'fixed-top':''}")

		#fb-root

		#transition.background
			.loading

		#main
			include ../assets/navigation
			#content
				block content

		script(src="/js/lib/zepto/zepto.min.js")
		script(src="/js/lib/require/1.0.8/require.min.js", data-main="/js/main")
		script
			(function(d, s, id) {
				var js, fjs = d.getElementsByTagName(s)[0];
				if (d.getElementById(id)) return;
				js = d.createElement(s); js.id = id;
				js.src = "//connect.facebook.net/en_US/all.js";
				fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		block scripts

		#templates

			include ../assets/templates
			block templates