!!! 5
html.no-js.no-mustard
	head(prefix="#{config.HTML_PREFIX}", data-api="#{config.API_PREFIX}", data-fixposition="#{supports.positionFixed}")

		title #{config.APP_NAME}

		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(names="apple-mobile-web-app-status-bar-style", content="black-translucent")

		include ../assets/metadata

		script
			document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
			window.mustard = false;
			if ('querySelector' in document && 'localStorage' in window && 'addEventListener' in window) {
				window.mustard = true;
				var href = location.href.toUpperCase();
				if (href.indexOf('MUSTARD=0')>0 || href.indexOf('MUSTARD=FALSE')>0) {
					window.mustard = false;
				}
			}
			// IE <10 cuts the mustard, but is not supported by Zepto.
			// TODO: switch to jQuery for IE
			if (navigator.appName==='Microsoft Internet Explorer') {window.mustard = false;}
			if (window.mustard) {
				document.documentElement.className = document.documentElement.className.replace('no-mustard', 'mustard');
			}

		include ../assets/styles
		block styles

	body(class="#{(supports.positionFixed)?'fixed-top':''}")

		#fb-root

		#main
			include ../assets/navigation
			#content
				block content

		#templates
			include ../assets/templates
			block templates

		#transition.background
			.loading

		include ../assets/scripts
		block scripts