h1 Admin: top bookings

if topbookings
	ol#topbookings
		each event in topbookings
			li
				a(href="/programme/#{event.programme.id}") #{event.programme.title}
				|  on 
				a(href="/channel/#{event.channel.id}") #{event.channel.name}
				|  #{event.prettyDate}
				p #{event.programme.shortDescription}
				p Programme ID: #{event.programme.id}
				p Images: 
					img(src="#{baseImageUrl}/s/#{event.programme.id}.jpg")
					img(src="#{baseImageUrl}/m/#{event.programme.id}.jpg")
					img(src="#{baseImageUrl}/l/#{event.programme.id}.jpg")
					img(src="#{baseImageUrl}/xl/#{event.programme.id}.jpg")
