h1 Admin: top bookings

if topBookings
	each event in topBookings
		h2 
			a(href="/event/#{event.id}") #{event.programme.title}
		p #{event.prettyStartTime} 
			|on 
			a(href="/channel/#{event.channel.id}") #{event.channel.name}
		p #{event.programme.shortDescription}

		p Programme ID: #{event.programme.id}
		p
			a(href="https://www.google.com/search?prmd=imvns&tbm=isch&q=#{event.programme.title}") Google image search
			&nbsp;
			a(href="http://www.imdb.com/find?q=#{event.programme.title}") IMDB title search
