h1 Admin: TV Tips

if tvTips
	each normalizedEvent in tvTips
		h2 
			a(href="/event/#{normalizedEvent.eventId}") #{normalizedEvent.title}
		img(src="#{normalizedEvent.imageUrl}")
		p #{normalizedEvent.prettyStartTime}
		p 
			a(href="/channel/#{normalizedEvent.channelId}") #{normalizedEvent.channelName}
		!{normalizedEvent.descriptionHtml}
